*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
}
.header-nav{
    position: relative;
    color: #fff;
    padding: 50px 50px 0px;

}
#logo{
    font-weight: 400;
    font-size: 18px;
    float: left;
}
.header-nav #weight-more{
    font-weight: 600;
}

.header-nav .extension{  
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
}
.header-nav a {
    text-decoration: none;
    font-family: Poppins,sans-serif;
    font-size: 18px;
    /* line-height: 20px; */
    color: #fff;
    font-weight: 400;
    float: right;
    margin-right: 40px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.header-nav a #contact-btn {
    color: #fff;
    font-size: 18px;
    
}
.header-nav a #contact-btn .material-symbols-outlined {
    text-decoration: underline;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
.material-symbols-outlined {
    margin: 0 0 5px 5px;
}

.banner-content .banner-title-1 #homepage-title {
    position: relative;
    top: 200px;
    margin-left: 200px;
    display: block;
    color: #fff;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 0;
    

}
.banner-content .banner-title-2 #homepage-title {
    position: relative;
    top: 200px;
    margin-left: 200px;
    display: block;
    color: #fff;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 0px;

}
.banner-desc p{
    font-family: Poppins,sans-serif;
    position: relative;
    top: 250px;
    margin-left: 200px;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    font-weight: 200;
    max-width: 250px;
    
}
.projects-circle a{
   width: 180px;
    height: 180px;
    display: flex;
    float: right;
    margin-right: 15%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
    background-image: linear-gradient(45deg, #fff 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    background-color: transparent;
    transition: background-color 350ms ease-in-out;
  }
  .projects-circle a:hover {
    background-position: 0;
    color: #000;
    transition: all 0.3s;
  }

  .projects-circle a:hover svg path {
    fill: #000;
    stroke: #000;
  }

  .projects-circle svg {
    height: 50px;
    width: 50px;
    margin-bottom: 4px;
  }

  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    z-index: 9999;
    transition: transform 0.2s ease;
  }


